<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @lineamiento.nombre %>
</p>

<%= link_to 'Edit', edit_lineamiento_path(@lineamiento) %> |
<%= link_to 'Back', lineamientos_path %>
